.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: $border-radius;
  color: $color-white;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: lighten($color: $color-primary, $amount: 20%);
    transition: all 0.5s;
    border-radius: $border-radius;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    border-radius: $border-radius;
    z-index: -2;
  }

  &:hover {
    color: $color-primary;

    &:before {
      height: 100%;
    }
  }

  &--large {
    font-size: 2rem;
  }
}

.btn--arrow {
  padding: 1rem;
  border-radius: $border-radius;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: $color-primary;
  cursor: pointer;

  &:hover {
    background-color: $color-white-transparent;
  }
}
