.footer {
  padding: 5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1px 1fr;
  justify-items: left;
  align-items: center;
  gap: $gap-size;
  background-color: $color-primary-dark;
  color: $color-secondary-light;

  &__middle {
    border-right: 1px solid $color-secondary-light;
    align-self: stretch;
  }

  &__copyright {
    justify-self: center;

    a {
      color: $color-secondary-light;
      text-decoration: none;
    }
  }
}
