.header {
  padding: $padding-size;
  text-align: center;
  position: relative;

  display: grid;
  grid-template-rows: min-content;
  align-content: center;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;

    animation: backgroundHeaderAnimation 20s ease 0s infinite alternate none;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/landing-success.jpg");
    background-size: cover;
    background-position: center;
  }

  &__content {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-rows: 40% 30% min-content;
    justify-items: center;
    gap: 5rem;
  }
}

@keyframes backgroundHeaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }

  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}
