.landings {
  padding: $padding-size;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  text-align: center;
  gap: $gap-medium;
  perspective: 150rem;
  background-color: $color-gray-light-1;
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $gap-medium;
  }
}

.landing {
  display: grid;
  grid-template-rows: 25rem;
  color: $color-white;

  &__side {
    display: grid;
    transition: all 1s ease;
    backface-visibility: hidden;
    overflow: hidden;
    grid-row: 1/-1;
    grid-column: 1/-1;
    border-radius: $border-radius;
    box-shadow: $shadow-light;

    &--front {
      background-color: $color-primary;
      align-self: center;
      line-height: 25rem;

      &-1 {
        @include landingSideFrontImage("../img/landing-1.jpg");
      }

      &-2 {
        @include landingSideFrontImage("../img/landing-2.jpg");
      }

      &-3 {
        @include landingSideFrontImage("../img/landing-3.jpg");
      }

      &-4 {
        @include landingSideFrontImage("../img/landing-4.jpg");
      }

      &-5 {
        @include landingSideFrontImage("../img/landing-5.jpg");
      }

      &-6 {
        @include landingSideFrontImage("../img/landing-6.jpg");
      }
    }

    &--back {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      grid-template-rows: 1fr 1fr;
      transform: rotateY(180deg);

      .heading-4 {
        align-self: center;
      }

      .paragraph {
        margin: 1rem;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
