.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 2;

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    padding: 1rem;
    background-color: $color-white;
    box-shadow: $shadow-dark;
    border-radius: $border-radius;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s 0.2s;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 90% 10%;
    row-gap: 1rem;

    .heading-2 {
      justify-self: left;
    }
  }

  &__list {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 1rem;

    ul {
      padding-left: 1.5rem;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    justify-self: right;
    margin-right: 1rem;

    &:link,
    &:visited {
      color: $color-primary;
      font-size: 3rem;
      text-decoration: none;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
