.music {
  display: grid;
  grid-template-rows: 50vh;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-medium;
  background-color: $color-gray-light-1;
  padding: $padding-size;

  &__img {
    background-color: $color-gray-light-1;
    background-image: url("../img/music.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    border-radius: $border-radius;
  }

  &__about {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    align-self: center;
    gap: $gap-medium;

    .heading-2 {
      justify-self: left;
    }
  }
}
