.plans {
  padding: $padding-size;
  display: grid;
  grid-template-rows: min-content;
  background-color: $color-primary;
  color: $color-white;
  background-image: url("../img/plans.png");

  .splide {
    display: grid;
    background-color: transparent;
  }
}

.plan {
  display: grid;
  grid-template-rows: min-content;
  align-items: center;
  border-radius: $border-radius;
  text-align: center;
  padding: 3rem 0;
  background-color: $color-primary;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  @include respond(tab-port) {
    padding: 7rem 0;
  }

  @include respond(phone) {
    padding: 5rem 0;
  }

  &__list {
    list-style: none;
    margin: 5rem 0;

    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  .btn {
    justify-self: center;
  }

  &-1 {
    background-image: url("../img/plan-kids.png");
  }
  &-2 {
    background-image: url("../img/plan-sports.png");
  }
  &-3 {
    background-image: url("../img/plan-vehicles.png");
  }
  &-4 {
    background-image: url("../img/plan-earth.png");
  }
  &-5 {
    background-image: url("../img/plan-solarSystem.png");
  }
  &-6 {
    background-image: url("../img/plan-universe.png");
  }
  &-7 {
    background-image: url("../img/plan-multiverse.png");
  }
}
