.plans {
  padding: $padding-size;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-size;
  background-color: $color-primary-light;
  color: $color-white;
}

.plan {
  display: grid;
  grid-template-rows: min-content;
  box-shadow: $shadow-dark;
  align-items: center;
  padding: 3rem;
  border-radius: $border-radius;
  text-align: center;

  .heading-2 {
    font-weight: 700;
    font-size: 5rem;
  }

  .heading-3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    color: $color-primary-light;
  }

  &__list {
    list-style: none;
    margin: 3rem 0;

    &-item {
      line-height: 6rem;
      font-size: 1.6rem;

      &:not(:last-child) {
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  &-1 {
    background-color: $color-primary;
    background-image: url("../img/plan-kids.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
