.testimonials {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, 1fr);
  padding: $padding-size;
  align-items: center;
  background-color: $color-primary;
  overflow: hidden;

  &__about {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    color: $color-white;
    row-gap: $gap-small;

    .heading-2 {
      color: $color-white;
    }
  }

  &__paragraphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-medium;

    span {
      font-size: 3rem;
      display: block;
      justify-self: center;
    }
  }

  &__testimonials {
    display: grid;
    grid-template-rows: repeat(2, min-content);

    &__arrows {
      justify-self: right;
      margin-bottom: 1rem;
    }
  }
}

.testimonial {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: max-content 1fr;
  background-color: $color-white;
  color: $color-primary;
  padding: 2rem;
  gap: $gap-small;

  &__title {
    color: $color-primary;
  }

  &__rate {
    color: $color-primary;
    font-size: 2rem;
  }

  .paragraph {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}
