.heading-1 {
  text-transform: uppercase;
  color: $color-primary;
  font-size: 4rem;
  font-weight: 700;
  align-self: center;
}

.heading-2 {
  color: $color-primary;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}
