// Colors
$color-primary: #d6a283;
$color-primary-light: #e3bea9;
$color-primary-dark: #8e5433;

// $color-primary: #D8D28D;
// $color-primary-light: #F3F1D8;
// $color-primary-dark: #BCB343;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.085);
$color-black: #000;

// Font
$font-primary: "Montserrat", sans-serif;

// Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// Grid
$gap-small: 1rem;
$gap-medium: 3rem;
$gap-large: 5rem;

$padding-size: 10rem 3rem;
$border-radius: 0.5rem;
