// Colors
$color-primary: #a5a58d;
$color-primary-light: #b7b7a4;
$color-primary-dark: #36382e;

$color-secondary-light: #ffe8d6;
$color-secondary-dark: #cb997e;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

// Font
$font-primary: "Quicksand", sans-serif;

// Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// Grid
$gap-size: 3rem;
$padding-size: 10rem 3rem;
$border-radius: 0.5rem;
