.btn {
  width: 20rem;
  background-color: #a5a58d;
  color: #fff;
  border: none;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
  .btn:hover {
    background-color: #b7b7a4; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Quicksand", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 99vh repeat(4, min-content);
  grid-template-columns: 1fr; }

.heading-1 {
  text-transform: uppercase;
  color: #a5a58d;
  font-size: 4rem;
  font-weight: 700;
  align-self: center; }

.heading-2 {
  color: #a5a58d;
  justify-self: center;
  align-self: center;
  font-size: 2rem; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/landing-success.jpg");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding: 4rem;
  text-align: center;
  display: grid;
  grid-template-rows: 40% 30% min-content;
  justify-content: center;
  align-content: center; }
  .header .btn {
    justify-self: center; }

.landings {
  margin: 5rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  text-align: center;
  gap: 3rem; }
  .landings__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; }

.landing {
  display: grid;
  grid-template-rows: 25rem; }
  .landing__side {
    display: grid;
    transition: all 1s ease;
    backface-visibility: hidden;
    overflow: hidden;
    grid-row: 1/-1;
    grid-column: 1/-1;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .landing__side--front {
      background-color: #a5a58d;
      align-self: center;
      line-height: 25rem; }
      .landing__side--front-1 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-2 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-3 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-4 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-4.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-5 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-6 {
        background: linear-gradient(rgba(165, 165, 141, 0.7), rgba(165, 165, 141, 0.7)), url("../img/landing-6.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
    .landing__side--back {
      background-image: linear-gradient(to right bottom, #b7b7a4, #36382e);
      grid-template-rows: 1fr 1fr;
      transform: rotateY(180deg); }
      .landing__side--back .heading-4 {
        align-self: center; }
      .landing__side--back .paragraph {
        margin: 1rem; }
  .landing:hover .landing__side--front {
    transform: rotateY(-180deg); }
  .landing:hover .landing__side--back {
    transform: rotateY(0); }

.footer {
  padding: 5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1px 1fr;
  justify-items: left;
  align-items: center;
  gap: 3rem;
  background-color: #36382e;
  color: #ffe8d6; }
  .footer__middle {
    border-right: 1px solid #ffe8d6;
    align-self: stretch; }
  .footer__copyright {
    justify-self: center; }
    .footer__copyright a {
      color: #ffe8d6;
      text-decoration: none; }
