.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  text-align: center; }
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #efdbd0;
    transition: all 0.5s;
    border-radius: 0.5rem;
    z-index: -1; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d6a283;
    border-radius: 0.5rem;
    z-index: -2; }
  .btn:hover {
    color: #d6a283; }
    .btn:hover:before {
      height: 100%; }
  .btn--large {
    font-size: 2rem; }

.btn--arrow {
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .btn--arrow:hover {
    background-color: rgba(255, 255, 255, 0.085); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 99vh repeat(4, min-content);
  grid-template-columns: 1fr; }

.heading-1 {
  text-transform: uppercase;
  color: #d6a283;
  font-size: 6rem;
  font-weight: 700;
  align-self: center; }

.heading-2 {
  color: #d6a283;
  justify-self: center;
  align-self: center;
  font-size: 3rem; }

.heading-3 {
  color: #000;
  font-size: 2rem; }

.heading-4 {
  font-size: 1.7rem; }

.paragraph {
  font-size: 1.6rem; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/landing-success.jpg");
  background-size: cover;
  background-position: center;
  padding: 10rem 3rem;
  text-align: center;
  display: grid;
  grid-template-rows: 40% 30% min-content;
  justify-content: center;
  align-content: center; }
  .header .btn {
    justify-self: center; }

.landings {
  padding: 10rem 3rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  text-align: center;
  gap: 3rem;
  perspective: 150rem;
  background-color: #f7f7f7; }
  .landings__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem; }

.landing {
  display: grid;
  grid-template-rows: 25rem;
  color: #fff; }
  .landing__side {
    display: grid;
    transition: all 1s ease;
    backface-visibility: hidden;
    overflow: hidden;
    grid-row: 1/-1;
    grid-column: 1/-1;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .landing__side--front {
      background-color: #d6a283;
      align-self: center;
      line-height: 25rem; }
      .landing__side--front-1 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-2 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-3 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-4 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-4.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-5 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .landing__side--front-6 {
        background: linear-gradient(rgba(214, 162, 131, 0.7), rgba(214, 162, 131, 0.7)), url("../img/landing-6.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
    .landing__side--back {
      background-image: linear-gradient(to right bottom, #e3bea9, #8e5433);
      grid-template-rows: 1fr 1fr;
      transform: rotateY(180deg); }
      .landing__side--back .heading-4 {
        align-self: center; }
      .landing__side--back .paragraph {
        margin: 1rem; }
  .landing:hover .landing__side--front {
    transform: rotateY(-180deg); }
  .landing:hover .landing__side--back {
    transform: rotateY(0); }

.plans {
  padding: 10rem 3rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  background-color: #8e5433;
  color: #fff; }

.plan {
  display: grid;
  grid-template-rows: min-content;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 3rem;
  border-radius: 0.5rem;
  text-align: center; }
  .plan .heading-2 {
    font-weight: 700;
    font-size: 5rem; }
  .plan .heading-3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    color: #e3bea9; }
  .plan__list {
    list-style: none;
    margin: 3rem 0; }
    .plan__list-item {
      line-height: 6rem;
      font-size: 1.6rem; }
      .plan__list-item:not(:last-child) {
        border-bottom: 1px solid #d6a283; }
  .plan-1 {
    background-color: #d6a283;
    background-image: url("../img/plan-kids.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.testimonials {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem 3rem;
  align-items: center;
  background-color: #d6a283; }
  .testimonials__about {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    color: white; }
    .testimonials__about .heading-2 {
      color: white; }
  .testimonials__paragraphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    .testimonials__paragraphs span {
      font-size: 3rem;
      display: block;
      justify-self: center; }
  .testimonials__testimonials {
    display: grid;
    grid-template-rows: repeat(2, min-content); }
    .testimonials__testimonials__arrows {
      justify-self: right;
      margin-bottom: 1rem; }

.testimonial {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content 1fr;
  background-color: #fff;
  color: #d6a283;
  padding: 2rem;
  gap: 1rem; }
  .testimonial__title {
    color: #d6a283; }
  .testimonial__rate {
    color: #d6a283;
    font-size: 2rem; }
  .testimonial .paragraph {
    grid-row: 2/-1;
    grid-column: 1/-1; }

.music {
  display: grid;
  grid-template-rows: 50vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  background-color: #f7f7f7;
  padding: 10rem 3rem; }
  .music__img {
    background-color: #f7f7f7;
    background-image: url("../img/music.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    border-radius: 0.5rem; }
  .music__about {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    align-self: center;
    gap: 3rem; }
    .music__about .heading-2 {
      justify-self: left; }

.footer {
  padding: 10rem 3rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1px 1fr;
  justify-items: left;
  align-items: center;
  gap: 3rem;
  background-color: #8e5433;
  color: #e3bea9; }
  .footer__middle {
    border-right: 1px solid #e3bea9;
    align-self: stretch; }
  .footer__copyright {
    justify-self: center; }
    .footer__copyright a {
      color: #e3bea9;
      text-decoration: none; }

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 2; }
  @supports (backdrop-filter: blur(10px)) {
    .modal {
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s 0.2s;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 90% 10%;
    row-gap: 1rem; }
    .modal__content .heading-2 {
      justify-self: left; }
  .modal__list {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 1rem; }
    .modal__list ul {
      padding-left: 1.5rem; }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close {
    justify-self: right;
    margin-right: 1rem; }
    .modal__close:link, .modal__close:visited {
      color: #d6a283;
      font-size: 3rem;
      text-decoration: none;
      transition: all 0.2s;
      line-height: 1; }
    .modal__close:hover {
      color: #d6a283; }
